/* CSS Document */
.nav1{
	position: fixed;/*悬浮*/
	z-index: 100;
	left: 16%;
    top: 26%;/*定位*/
}
.nav1 li{
	list-style: none;
	border: dashed 1px white;/*盒子的白边*/
	width: 120px;
    height: 40px;/*盒子大小*/
    line-height: 40px;/*各盒子中文字离上边的高度*/
	text-align: center;
	background-color: aqua;
	margin: 10px;/*盒子相隔的距离*/
	box-shadow: 1px 2px 8px 2px #71dcff;/*盒子的外边阴影属性*/
	border-radius: 5px;/*圆角矩形*/
	opacity: 0.85;


	-webkit-transition: width, background-color, border ease 0.3s;
	transition: width, background-color, border ease 0.3s;
	/*上面两行为渐变效果*/

}
.nav1 li a:link, .nav1 li a:visited{
	text-decoration: none;
	font-size: 21px;/*字体大小*/
	color: white;/*字体颜色*/
    text-shadow: 1.5px 0.9px 2px #101011ad;/*字体阴影*/
}
.nav1 li a:hover{
	text-decoration: none;
	font-size: 22.1px;/*字体大小*/
	color: #d0fdff;/*字体颜色*/
    text-shadow: 1.5px 0.9px 2px #101011ad;/*字体阴影*/
	transition-duration: 0.5s;/*渐变效果时间*/
}
.nav1 li:hover{
	display: block;
	border: dashed 1px red;/*盒子的red边*/
	width: 123px;
    height: 43px;/*盒子大小*/
    line-height: 40px;/*各盒子中文字离上边的高度*/
	text-align: center;
	background-color: #1be3e3;
	margin: 10px;/*盒子相隔的距离*/
	
	box-shadow: 1px 2px 8px 2px #71dcff;/*盒子的外边阴影属性*/
	border-radius: 5px;/*圆角矩形*/
	opacity: 0.9;
	transition-duration: 1s;/*渐变效果时间*/
	
}
.bilispan{
    position: fixed;
    z-index: 100;
    left: 15.5%;
    top: 17%;
}

.table{
	/* background-color: #c4f1ff; */
    /* border: dashed 1.5px deepskyblue; */
    /* box-shadow: inset 0px 0px 7px 1px #38d1ff; */
	/*margin-top: 20px;*/

	transform: translate(0,0);
	transition: transform, box-shadow 0.5s ease;
	margin-left: auto;
    margin-right: auto;
	border-radius: 7px;

}
.table:hover{
	box-shadow: 6px 5px 7px 0px #38d1ff;
	transform: translate(15px;15px);
}
.table video{
	width: 505px;
	height: 285px;
}
.table img{
	width: 890px;
}
.table .wenzi{
	float: left;
    width: 360px;
    text-indent: 2em;
	font-size: 21px;

}


/*.part {display: none;}
.part:target{display: block;}*/

.topnav{
	height: 50px;
	box-shadow: 4px -4px 11px 3px #67dcff;
}
.topnav_img{
	padding-left: 6px;
	padding-top: 5.6px;
}
.topnav_ul{
	display: -webkit-inline-box;
	list-style: none;
	padding-left: 47px;/*文字左边距*/
	position: absolute;
}
.topnav_ul li{
	padding-left: 12px;
	line-height: 51px;/*文字高度*/
	height: 50px;
	width: 54px;
	font-size: 21px; 
	-webkit-transition: background-color ease 0.3s;
	transition: background-color ease 0.3s;/*有效果， all 需改成 background-color */
}
.topnav_ul li:hover{
	background-color: #25cef5;
	transition-duration: 1s;/*渐变效果时间*/
	transition-delay: 100ms;/*延迟效果时间*/
}
.topnav_ul li a{
	color: black;

}

.topnav_ul li a:hover{
	color: white;
	transition-duration: 0.5s;/*渐变效果时间*/
	transition-delay: 50ms;/*延迟效果时间*/
}

audio{
	left: 2px;
    padding-top: 2px;
    width: 300px;
    height: 45px;
    position: absolute;
	opacity: 0;
	transition: all 0.9s ease;
	
}

#music:hover+#musiccl,#musiccl:hover{
	 opacity: 1;
}


#aright{
	line-height: 49px;
	margin-right: 10px;
	font-size: 22px; 
	float: right;
}
#aright a:link,#aright a:visited{
	color: black;
	margin-right:12px;
}
#aright a:hover{
	color: #71dcff;
	margin-right:12px;
	transition-duration: 1s;/*渐变效果时间*/
	transition-delay: 100ms;/*延迟效果时间*/
}

*{
	padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}
/*百度部分的代码实现，发现于  https://dd.center/  中的用法*/
.baidu{
	width: 1267px;
    height: 663px;
    
    margin-top: 1.2%;
	box-shadow: 0px 0px 6px 1px #38d1ff;
}
/*下面部分的css为 注册页面 和 登录页面 使用*/
.together{
	width: 700px;
	height: 600px;
	margin-top:28px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 1px 2px 8px 2px #71dcff;/*盒子的外边阴影属性*/
	background: url(../images/image_together.jpg);
	background-size: 170%;
}
.together2{
	background-color: #ffffff;
	margin:20px;
	position: absolute;
	opacity: 0.47;
	width: 660px;
	height: 560px;
	
}
#input{

	margin-top: 19px;
	width: 30px;
	margin-left:460px;
	
}
#inputheight{
	height: 30px;
}
#Artia{
	position: absolute;
	bottom: 12px;
	left: 0px;
	transform: translate(0px, 0px);
	transition: transform 0.55s ease;
}




.log_in{

	color: black;
	font-size: 48px;
	text-transform: center;
}
.log_in_ul{

	margin-top: 19px;
	margin-left: 55px; 
	font-size: 32px;
}
.log_in_ul span{
    width: 160px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}/*来自XZZ同学的参考资料*/
.log_in_ul input{
	width: 330px;
	border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.log_in_ul input:hover{
	width: 330px;
	border-bottom-color: blue;
    border-bottom-style: solid;
    border-bottom-width: 2px;
	transition-duration: 1s;/*渐变效果时间*/
}
.log_in_ul a:hover{
	color: red;
	transition-duration: 1s;/*渐变效果时间*/
}



.register{
	color: black;
	font-size: 48px;
	text-transform: center;
}
.register_ul{
	margin-top: 19px;
	margin-left: 55px; 
	font-size: 32px;
}
.register_ul span{
    width: 160px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}/*来自XZZ同学的参考资料*/
.register_ul input{
	width: 330px;
	border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.register_ul input:hover{
	width: 330px;
	border-bottom-color: blue;
    border-bottom-style: solid;
    border-bottom-width: 2px;
	transition-duration: 1s;/*渐变效果时间*/
}


.register_ul a:hover{
	color: red;
	transition-duration: 1s;/*渐变效果时间*/
}
/*下面为about.html的内容*/
.about{
	float: left;
	height: 700px;
    width: 830px;
}
.about ul{
	position: absolute;
	margin-top: 250px;
	margin-left: 460px;
	width: 120px;
	height: 80px;
	list-style: none;
}
.about ul li{

	opacity: 0;
	width: 107px;
	margin-top: 1px;
	font-size: 26px;
}
.about ul li a:link, .about ul li a:visited{
	color: black;
}
.about ul li a:hover{
	color: white;
	transition-duration: 1.2s;/*渐变效果时间*/
	transition-delay: 50ms;/*延迟效果时间*/
}
.about ul li:hover{
	margin-left: 5px;
	background-color:aqua;
	width: 120px;
	/*transition-duration: 0.7s;/*渐变效果时间*/
	/*transition-delay: 500ms;/*延迟效果时间*//*这个居然可以不要，只用下面那个就好了*/
}
html:hover .about ul li{
	margin-left: 260px;
	transition-duration: 0.7s;/*渐变效果时间*/
	transition-delay: 30ms;/*延迟效果时间*/
	opacity: 1;
}
.about video{
	position: absolute;
	width: 640px;
	margin-left: 50px;
	margin-top:160px;
}
.about_table{
	float: left;
	background-color: #c0fff6;
    border: dashed 1.5px deepskyblue;
    box-shadow: inset 0px 0px 9px 1px #67dcff;
	margin-top: 110px;
	margin-left: 40px;
	border-radius: 7px;
}
.about_table td{
	text-align: center;
	height: 160px;
	width: 580px;
	font-size: 32px;
}


.nav-items{
	background-color: #d4f4ff;
    box-shadow: 1px 4px 11px 3px #b6eeff;
    text-align: center;
    color: black;
    font-size: 22px;
    height: 100%;
    width: 150px;
    left: 0;
    top: 44px;
    /*transform: scaleY(0);*/
    transform: translateX(-300px);
    position: fixed;
    margin-top: 13px;
    transition: transform 0.55s ease;
}
#toggler:checked ~ .nav-items{
	/*transform: scaleY(1);*/
	transform: translateX(0px);
}
#toggler:checked ~ #Artia{
	transform: translate(150px, -147px);
	
}
.navlabel{
	
    width: 52px;
    height: 49px;
    border-radius: 90px;
    transition: background-color 0.5s ease;
}
.navlabel:hover{
	background-color: #ececec;
    width: 52px;
    height: 49px;
    border-radius: 90px;
    
}
.navlabel:active{
	background-color: #878787;
    width: 52px;
    height: 49px;
    border-radius: 90px;
}
.navlabel_li{
	margin-top: 5px;
	height: 36px;
	line-height: 35px;
	font-weight: bolder;
	text-shadow: 3px 2px 9px #ffffff;
}

.navlabel_li a:link, .navlabel_li a:visited{
	color: #00d5ff;
	transition: all 0.5s ease;
}
.navlabel_li a:hover{
	color: white;
}
.navlabel_li:hover{
	background-color: aqua; 
}


#side hr{
	margin-top: 7px;
    background: #addef6c9;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    /* height: 5px; */
    width: 900px;
    box-shadow: 3px 2px 4px 1px #c0fff8;
    opacity: 0.8;

}
#side marquee{
	font-size: 17px;
    height: 30px;
    width: 900px;
    font-weight: bold;
    line-height: 30px;

}










